#backgroundHead {
    background-color: royalblue;
    height: 200px;
}
#backgroundHead button{
    position: relative;
    font-size: 16px;
    border: 2px solid black;
    background-color: #333333;
    height: 30px;
    width: 80px;
    text-align: center;
    color: white;
    left: 10px;
    top: 10px;
}
#head {
    height: 150px;
    position: relative;
    width: 20%;
    left: 40%;
    top: -200px;
    background-color: white;
    border-radius: 30px;
}
h1{
    color: black;
    text-align: center;
    font-family: "Annie Use Your Telescope";
    text-shadow: 3px 3px 4 gray;
}
#temp {
    text-align: center;
    text-decoration-style: solid;
    color: red;
}
#humidity{
text-align: center;
color: green;
}
#graf{
    border: 5px solid #000;
    border-radius: 10px;
}
.graf {
    position: relative;
    box-sizing: border-box;
    margin: auto;
    width: 526px;
    border-radius: 5px;
    background-color: black;
    top: -160px;
}
.button {
    background-color: red; 
    color:  white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: red;
    display: inline-block;
    font-size: 16px;
    width: 100%;  border: none;
    border: black;
}
.button:hover {
    transform:scale(1.05);
}
#table {
    position: relative;
    top: -160px;
    margin: auto;
    width: 20%;
}

#map-container {
    position: absolute;
    left: 210%;
    top: 0%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: grid;
    width: 30vmin;
    grid-template-columns: repeat(2, 1fr);
}

#map-container>div {
    position: relative;
    background-color: #333333;
    height: calc(20vmin * 0.4);
    text-align: center;
    line-height: calc(20vmin * 0.4);
    border: 2px solid black;
    transition: all 200ms ease;
    z-index: 0;
    font-size: 16px;
    color: white;
}
#map-container>div .tooltipUP {
    visibility: hidden;
    position: absolute;
    color: white;
    line-height: 20px;
    font-size: 15px;
    top: 50px;
    width: 50px;
    right: 0px;
    background-color: black;
    border-radius: 10px;
}
#map-container>div .tooltipDown {
    visibility: hidden;
    position: absolute;
    color: white;
    line-height: 20px;
    font-size: 15px;
    bottom: 50px;
    width: 91.5px;
    right: 0px;
    background-color: black;
    border-radius: 10px;
}
#map-container>div:hover {
    cursor: pointer;
    transform: scale(1.07);
    filter: brightness(0.9);
    z-index: 1;
}
#map-container>div:hover>span{
    visibility: visible;
}

#map-container>div:active {
    filter: brightness(1.15);
}

#hallway {
    grid-column: 1/4;
}